.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-size: cover;
}
.nav {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px 0 0 30px;
  position: relative;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin-top: 183px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__image {
  width: 646px;
  top: 124px;
  right: 5px;
  position: absolute;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  padding: 100px 80px;
}

.recipes__title {
  margin: 0;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin: 80px 0 215px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  margin: 24px 0 215px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 80px 0;
  text-align: center;
  justify-content: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
}

.reservation__form {
  margin: 80px auto 120px auto;
  max-width: 385px;
}

.form__fieldset {
  max-width: 385px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  width: 385px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 15px 0 20px 0;
}

.form__button {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100%;
  height: 60px;
  width: 385px;
  margin: 32px 0 32px 0;
  background-color: #2f80ed;
  color: #ffffff;
  gap: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__pseudo-item {
}

.form_pseudo-item_type_checkbox {
  height: 20px;
  width: 20px;
}
